{% extends "base.html" %}
{% load staticfiles %}

{% block title %}cmdb-api-demo{% endblock %}

{% block css %}
{#	<!-- codemirror CSS -->#}
{#	<link rel="stylesheet" href={% static "css/codemirror.css" %} />#}
{#    <!-- codemirror css theme -->#}
{#	<link rel="stylesheet" href={% static "css/blackboard.css" %} />#}
{% endblock %}

{% block content %}
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        not yet
    </div>
</div>
{% endblock %}

{% block js %}
{#	<script type="text/javascript" src={% static "js/codemirror.js" %}></script>#}
{#	<script type="text/javascript" src={% static "js/python.js" %}></script>#}
{% endblock %}