{% extends "base.html" %}
{% load staticfiles %}

{% block title %}BI-UDB{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
{#<div class="tm-middle">#}
        <!-- 实例净新增 -->
        <div class="uk-grid uk-margin-top">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">

                            <div class="uk-margin">
                              时间粒度：
                              <div class="uk-button-group" data-uk-button-radio>
                                <button name="month" class="uk-button uk-button-primary" onclick="get_instance_pure_increase(this)">月</button>
                                <button name="week" class="uk-button uk-button-primary" onclick="get_instance_pure_increase(this)">周</button>
                                <button name="day" class="uk-button uk-button-primary" onclick="get_instance_pure_increase(this)">日</button>
                              </div>
                            </div>

                            <div id="instance_pure_increase" style="height:600px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 外部实例版本分布 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="outer" style="height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 外部实例区域和磁盘类型 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <div id="outer_group_region" style="height:600px;"></div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div id="outer_disk_type" style="height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 内存，存储净增鱼骨图 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <div id="fish_bone_memory" style="height:800px;">

                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div id="fish_bone_disk" style="height:800px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 前十行业 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="top_10_industry" style="height:800px;"></div>
                        </div>
{#                        <div class="uk-width-medium-1-2">#}
{#                            <div id="top_10_industry_further2" style="height:400px;">#}
{#                            </div>#}
{#                                    ◀️ 点击左侧行业查看详细信息#}
{#                            <div id="top_10_industry_further" style="height:400px;">#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 前十行业磁盘和内存 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <div id="top_10_industry_memory_limit" style="height:400px;"></div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div id="top_10_industry_disk_space" style="height:400px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 前十公司 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="top_10_company" style="height:800px;"></div>
                        </div>
{#                        <div class="uk-width-medium-1-2">#}
{#                            <div id="top_10_company_further2" style="height:400px;">#}
{#                            </div>#}
{#                                    ◀️ 点击左侧公司查看详细信息#}
{#                            <div id="top_10_company_further" style="height:400px;">#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 前十公司内存和磁盘 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <div id="top_10_company_memory_limit" style="height:400px;"></div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div id="top_10_company_disk_space" style="height:400px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 上周前十公司周净增 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="top_10_company_pure_increase_week" style="height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 上周前十公司周删除（存续大于1天） -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="top_10_company_pure_delete_week" style="height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 所有摸态框 -->
        {% include "home/module.html" %}

{#</div>#}
{% endblock %}

{% block js %}
	<script type="text/javascript" src={% static "js/echarts.min.js" %}></script>
	<script type="text/javascript" src={% static "js/vintage.js" %}></script>
	<script type="text/javascript" src={% static "echartsjs/alpha.js" %}></script>
	<script type="text/javascript" src={% static "echartsjs/beta.js" %}></script>
    <script>
    </script>
{% endblock %}