{% extends "base.html" %}
{% load staticfiles %}

{% block title %}BI-UDB{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
{#<div class="tm-middle">#}

        <!-- 包含内容项目的容器 -->

        <!-- 实例净新增 -->
        <div class="uk-grid uk-margin-top">
            <div class="uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <ul id="my-id" class="uk-switcher uk-margin">
                        <li class="uk-active">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-margin">
                                      时间粒度：
                                      <div class="uk-button-group" data-uk-button-radio>
                                        <button name="month" class="uk-button uk-button-primary uk-active" onclick="get_instance_pure_increase(this)">月</button>
                                        <button name="week" class="uk-button uk-button-primary" onclick="get_instance_pure_increase(this)">周</button>
                                        <button name="day" class="uk-button uk-button-primary" onclick="get_instance_pure_increase(this)">日</button>
                                      </div>
                                    </div>

                                    <div id="instance_pure_increase" style="height:600px;">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-margin">
                                      时间粒度：
                                      <div class="uk-button-group" data-uk-button-radio>
                                        <button name="month" class="uk-button uk-button-danger uk-active" onclick="get_instance_pure_increase_ha(this)">月</button>
                                        <button name="week" class="uk-button uk-button-danger" onclick="get_instance_pure_increase_ha(this)">周</button>
                                        <button name="day" class="uk-button uk-button-danger" onclick="get_instance_pure_increase_ha(this)">日</button>
                                      </div>
                                    </div>

                                    <div id="instance_pure_increase_ha" style="height:600px;">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- 包含拨动按钮的按钮租 -->
                    <div class="uk-button-group uk-float-right" data-uk-switcher="{connect:'#my-id'}">
                        <button class="uk-button uk-button-primary" type="button">所有实例</button>
                        <button class="uk-button uk-button-danger" type="button">高可用实例</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 内存，存储净增鱼骨图 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <div id="fish_bone_memory" style="height:800px;">

                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div id="fish_bone_disk" style="height:800px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 上周前十公司周净增 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="top_10_company_pure_increase_week" style="height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 上周前十公司周删除（存续大于1天） -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="top_10_company_pure_delete_week" style="height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 前十公司 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="top_10_company" style="height:800px;"></div>
                        </div>
{#                        <div class="uk-width-medium-1-2">#}
{#                            <div id="top_10_company_further2" style="height:400px;">#}
{#                            </div>#}
{#                                    ◀️ 点击左侧公司查看详细信息#}
{#                            <div id="top_10_company_further" style="height:400px;">#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 前十公司内存和磁盘 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <div id="top_10_company_memory_limit" style="height:400px;"></div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div id="top_10_company_disk_space" style="height:400px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 前十行业 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="top_10_industry" style="height:800px;"></div>
                        </div>
{#                        <div class="uk-width-medium-1-2">#}
{#                            <div id="top_10_industry_further2" style="height:400px;">#}
{#                            </div>#}
{#                                    ◀️ 点击左侧行业查看详细信息#}
{#                            <div id="top_10_industry_further" style="height:400px;">#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 前十行业磁盘和内存 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <div id="top_10_industry_memory_limit" style="height:400px;"></div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div id="top_10_industry_disk_space" style="height:400px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 外部实例版本分布 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <div id="outer" style="height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 外部实例区域和磁盘类型 -->
        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <div id="outer_group_region" style="height:600px;"></div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div id="outer_disk_type" style="height:600px;"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid"></div>
            </div>
        </div>

        <!-- 自建DB前50用户 -->
        <div class="uk-grid" id="top_10_self_build_instance_count">
            <div class="uk-width-medium-1-1">
                <h4 class="uk-margin-left"><i class="uk-icon-table"></i> 自建DB前50用户</h4>
                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-right uk-margin-left">
                    <table id="self_build" class="cell-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th rowspan="2">实例数量</th>
                                <th colspan="2">BI Information</th>
                                <th colspan="4">详情</th>
                            </tr>
                            <tr>
                                <th>用户</th>
                                <th>客户经理</th>
                                <th>行业</th>
                                <th>省份</th>
                                <th>区域</th>
                                <th>可用区</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>实例数量</th>
                                <th>用户</th>
                                <th>客户经理</th>
                                <th>行业</th>
                                <th>省份</th>
                                <th>区域</th>
                                <th>可用区</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <!-- 所有摸态框 -->
        {% include "home/module.html" %}

{#</div>#}
{% endblock %}

{% block js %}
	<script type="text/javascript" src={% static "js/echarts.min.js" %}></script>
	<script type="text/javascript" src={% static "js/vintage.js" %}></script>
	<script type="text/javascript" src={% static "echartsjs/alpha.js" %}></script>
	<script type="text/javascript" src={% static "echartsjs/beta.js" %}></script>
    <script>
        $(document).ready(function() {
            $('#self_build').DataTable({
                scrollX: true,
                order: [[ 0, "desc" ]],
                ajax: "top_10_self_build_instance_count",
                columns: [
                    { "data": "count" },
                    { "data": "_id" },
                    { "data": "manager" },
                    { "data": "Industry" },
                    { "data": "Province" },
                    { "data": "City" },
                    { "data": "AzGroup" }
                ],
                language: {
                    "sProcessing":   "处理中...",
                    "sLengthMenu":   "显示 _MENU_ 项结果",
                    "sZeroRecords":  "没有匹配结果",
                    "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix":  "",
                    "sSearch":       "搜索:",
                    "sUrl":          "",
                    "sEmptyTable":     "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands":  ",",
                    "oPaginate": {
                        "sFirst":    "首页",
                        "sPrevious": "上页",
                        "sNext":     "下页",
                        "sLast":     "末页"
                    },
                    "oAria": {
                        "sSortAscending":  ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
{#                scrollY:        '50vh',#}
{#                scrollCollapse: true,#}
{#                paging:         false#}
            });
        });
    </script>
{% endblock %}