<!-- 行业前十摸态框 -->
<div id="modal-2" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close"></button>

        <h2>磁盘类型分布、DB类型与版本分布</h2>

        <div class="uk-grid">
            <div class="uk-width-medium-1-2">
                <div id="top_10_industry_further2" style="height:600px;"></div>
            </div>
            <div class="uk-width-medium-1-2">
                <div id="top_10_industry_further" style="height:600px;"></div>
            </div>
        </div>

    </div>
</div>

<!-- 公司前十摸态框 -->
<div id="modal-1" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <button type="button" class="uk-modal-close uk-close"></button>
        <h3><i class="uk-icon-line-chart uk-text-danger uk-margin-right"></i>删除、增加、净增、存量</h3>
        <div class="uk-grid">
                <div class="uk-width-medium-1-1">

                    <div class="uk-margin">
                      <div class="uk-button-group" data-uk-button-radio>
                        <button name="month" class="uk-button uk-button-primary uk-active modal-time" onclick="middle_fuc(this)">月</button>
                        <button name="week" class="uk-button uk-button-primary modal-time" onclick="middle_fuc(this)">周</button>
                        <button name="day" class="uk-button uk-button-primary modal-time" onclick="middle_fuc(this)">日</button>
                      </div>
                    </div>

                    <div id="instance_pure_increase_company" style="height:600px;">
                    </div>

                </div>
        </div>
        <br>
        <h3><i class="uk-icon-pie-chart uk-text-danger uk-margin-right"></i>磁盘类型分布、DB类型与版本分布</h3>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <div id="top_10_company_further2" style="height:400px;"></div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div id="top_10_company_further" style="height:400px;"></div>
                    </div>
                </div>

        </div>
</div>